.footer {
    width: 100%;
    background-color: var(--black-bg);
}
a {
    text-decoration: none;
}
.footer-inner {
    height: 89px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-link {
    padding-right: 22px;
}
.icons-link:last-child {
    padding-right: 0;
}
.icons-link path:hover {
    fill: var(--hover-color);
}
.icons-link path:active {
    fill: var(--active-color);
}
.footer__logo > h2,
.footer-link > a {
    color: var(--text-color);
    letter-spacing: 0.1em;
}
.footer__logo > h2 {
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
}

.footer-link > a {
    font-weight: 400;
    font-size: 16px;
}
.footer-link > a:hover {
    color: var(--hover-color);
}
/* =======Adaptive for phone=================== */
@media screen and (max-width: 767px) {
    .footer-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 213px;
    }
    .footer__logo > h2 {
      margin: 30px 0;
    }
}