header {
    width: 100%;
    background-image: url('../images/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 23px 40px 0 40px;
}

.header__logo > h2 {
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--text-color);
}

.header__nav > a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 60px;
}
.header__nav a:last-child {
    margin-right: 0;
}
.header__nav > a:hover {
    color: var(--hover-color);
}

.header__humburger {
    width: 36px;
    height: 36px;
    display: none;
    cursor: pointer;
}
.header__humburger img:hover {
    background-color: var(--hover-color);
}
.header__humburger img:active {
    background-color: var(--active-color);
}
/*=======Adaptive for tablet===============*/
@media screen and (max-width: 1023px) {
    .header__nav {
        display: none;
    }
    .header__humburger {
        display: block;
    }
}